    /* Basic CSS for styling the calendar */
    #cal table {
        /*      width: 710px;*/
        width: 100%;
        table-layout: fixed;
        border-collapse: collapse;
        margin: auto;
        padding: 0 30px 0 30px;
        line-height: 1rem;
        font-size: .7rem;
	margin: 0 0 1.5rem 0;
    }

    #cal th {
        font-weight: 300;
        padding: 1pt;
        width: 8em;
        height: 1.5em;
    }

    #cal td {
        padding: 0pt 5pt 0pt 5pt;
        width: 8em;
        height: 142px;
        /* minimum height */
        vertical-align: top;
    }

    #cal tr {
        background-color: #fcfcfc; /* #f9fafb; */
      /*  background-color: rgb(248, 248, 246);*/
    }

    .caldate {
        font-size: .7rem;
        margin-bottom: .5rem;
        font-weight: 700;
    }


    #cal th {
        background-color: var(--blue-table-header);
    }

    #cal .exam {
        font-size: 1.2rem;
        font-weight: bold;
        display: inline-block;
        color: rgb(139, 71, 128);
        margin: 1rem 0;
        padding: .1rem;
        border: 2px ridge black;
    }


    #cal .quiz {
	font-size: 0.7rem;
	font-weight: bold;
	display: inline-block;
	color: blue; /* rgb(8, 84, 151); */
	margin: 1rem 0;
	padding: .1rem;
	border: 2px ridge black;
    }
