    /* Basic CSS for styling the calendar */
    #cal table {
        /*      width: 710px;*/
        width: 100%;
        table-layout: fixed;
        border-collapse: collapse;
        margin: auto;
        padding: 0 30px 0 30px;
        line-height: 1rem;
        font-size: .7rem;
    }

    /* Will this work? */
    /*
    .cal {
    max-width: 810px;
        text-align: center;
        margin: 0 auto;
        position: absolute;
    padding: 0 30px 60px 30px;
    }
  */

    #cal th {
        font-weight: 300;
        padding: 1pt;
        width: 8em;
        height: 1.5em;
    }

    #cal td {
        padding: 0pt 5pt 0pt 5pt;
        width: 8em;
        height: 142px;
        /* minimum height */
        vertical-align: top;
    }

    #cal tr {
        background-color: rgb(248, 248, 246);
    }

    .caldate {
        font-size: 9pt;
        margin-bottom: .5em;
        font-weight: 600;
    }


    #cal th {
        background-color: var(--blue-table-header);
    }

    #cal .exam {
        /* background-color: #e0f7fa; */
        font-size: 1.0rem;
        color: #6b1010;
        border: 1px solid #333;
        /* Sets a 1px solid dark gray border */
        padding: 15px;
        /* Adds 15px of space between the text and the border */
        margin: 20px;
        /* Adds 20px of space outside the border */
        background-color: #f0f0f0;
        /* Sets a light gray background color */
        border-radius: 8px;
        /* Rounds the corners of the box */
    }