    /* Basic CSS for styling the calendar */
    #cal table {
      width: 710px; 
        table-layout: fixed;
       border-collapse: collapse;
       margin: auto;
       padding: 0 30px 0 30px;
       line-height: 1rem;
    }

    /* Will this work? */
/*
    .cal {
    max-width: 810px;
        text-align: center;
        margin: 0 auto;
        position: absolute;
    padding: 0 30px 60px 30px;
    }
  */  

    #cal th {
        font-weight: 300;
        padding: 1pt;
        width: 8em;
        height: 1.5em;
    }

    #cal td {
        padding: 0pt 5pt 0pt 5pt;
        width: 8em;
        height: 8em;
        vertical-align: top;
    }

    #caldate {
        font-size: 9pt;
        margin-bottom: .3em;
        font-weight: 600;
    }


    #cal th {
        background-color: var(--blue-table-header);
    }

    #cal .event {
        background-color: #e0f7fa;
        font-weight: bold;
    }