*, *::before, *::after{
     margin: 0;
     padding: 0;
     box-sizing: border-box; 
  }

html {
    font-size: 18px;
    overflow-y: scroll; /* Adds scrollbar to all screen. 
			   Prevents content shifting on screens w/o scrollbar */
}

/* Begin link light show */
/*
,navbar a {
        position: relative;
}

.navbar :not(dropdown) a::after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    background-color: #36c;
    bottom: 0;
    left: 0;
    transition: width 0.3s ease;
}

.navbar a:hover::after {
    width: 100%; 
}
*/
/* End link light show */


body{ 
    margin: 0;
    font-family: "STIX Two Text";
/*    font-family: 'Open Sans', sans-serif;*/
    text-underline-offset: 3px;
}

.flex-wrapper {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
/*  justify-content: flex-start; */
}


header {
    top: 0; /* needed for sticky position */
    position: sticky;
/*    border-top: 1px solid #e7e7e7; */
    border-bottom: 4px solid #1f6a87;
/*    min-height: 64px;*/
    background-color: black;
/*    position: relative; */
}

.wrapper-header {
/*    max-width: 860px; */
    margin: 0 auto;
    padding: 3px 40px 0px 40px;
}

/* Navbar container */
.navbar {
    overflow: hidden;
    font-family: "Source Sans 3", sans-serif;
}
   

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.try {
    font-size: 1.2rem;
    font-weight: 400;
    font-family: "Source Sans 3", sans-serif;
    flex-grow: 1;
    text-align: left;
    color: white;
}

.navbar-right {
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 60px;
    flex-wrap: wrap;
    /*    min-width: 100px; */
}

/* Links inside the navbar */
.navbar a {
  font-size: 1.0rem;
  font-weight: 500;
  text-align: center;
/*  padding: 8px 0;*/
/*  margin: 0px 8px 0px 8px; */    
/*  text-decoration: none; */
  color: white;
}

/* The dropdown container */
.dropdown {
  float: left;
  overflow: hidden;
}

/* Dropdown button */
.dropdown .dropbtn {
    font-size: 1rem;
    font-weight: 500;
    border: none;
    outline: none;
    color: #000000;
    padding: 12px 0;
    background-color: inherit;
    font-family: inherit; /* Important for vertical align on mobile phones */
    margin: 0; /* Important for vertical align on mobile phones */
    color: white;
}

/* Underline navbar links on hover */
.navbar a:hover, .dropdown:hover .dropbtn {
/*    text-decoration-line: underline;
    text-underline-offset: 6px; */
    text-decoration: none;
    color: #69a9dd;
    /* color: #b4c8d8; */
}

/* Dropdown content (hidden by default) */
.dropdown-content {
  display: none;
  position: absolute;
  border-radius: 0px;
  margin: 0;
  background-color: white;
  min-width: 120px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  border: 1px solid black;
  overflow: hidden;
}

/* Links inside the dropdown */
.dropdown-content a {
  float: none;
  color: black;
  margin: 0px;
  border-radius: 0px;
  padding: 5px 11.2px;
  text-decoration: none;
  display: block;
  text-align: left;
  font-weight: 350;
  font-size: .8rem;
}

/* Add a grey background color to dropdown links on hover */
.dropdown-content a:hover {
    text-decoration-line: none;
    color: black;
    background-color: #a7ccee94;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
    border-radius: 12px; 
} 

.wrapper-main {
    max-width: 710px; /* 860 px */
    margin: 0 auto;
    padding: 0 30px 60px 30px;
}

h1 { 
    font-size: 1.7rem; /* 2.2 rem */
    margin: 50px 0 50px 0;
    font-family: "STIX Two Text", sans-serif;
    font-weight: 500;
    text-align: center;
}

h2 { 
    font-size: 1.2rem; /* 2.2 rem */
    margin: 0 0 0px 0;
   /* font-family: "Source Sans 3", sans-serif;*/
    font-weight: 600;
    text-align: center;
}


main a {
    color: #36c;
}

main{
    flex: 1;
    line-height: 1.7rem;
}

footer { 
    border-top: 2px solid #e7e7e7;
}

.wrapper-footer {
/*    max-width: 860px; */
    margin: 0 auto;
    padding-top: 0px;
    padding: 2px 30px 2px 30px;
}

.footer-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    min-height: 1.4rem;
}

footer span {
    font-family: "Source Sans 3", sans-serif;
    font-size: .74rem;
/*    line-height: 1.7rem; */
    font-weight: 300;
/*    padding: 30px 0;*/
/*    padding: 1.6px .8px 1.6px .8px; */
/*    background-color: yellow; */
    }

/* 
.ftright {
    font-size: .769rem;
}
*/


section:first-of-type {
    padding-top: 2.5rem;
    border-top: 2px solid #e7e7e7;
}

section {
    border: .26em;
    margin: 1.2rem .28em .26em 0em; 
}



article {
 /*   padding: .44rem;
    margin: .88rem; */
}


/*
p, ul { max-width: 70ch; }
*/


p {
    margin: 0 0 14px 0;
   /*  padding: 0.44rem 0.44rem 0.44rem 0rem; */
}


#sylldata {
    padding: 0 .9rem 2.3rem 0rem ;
    margin: 0 0 2.6rem 0;
    font-size: 1rem;
    font-family: "STIX Two Text";
/*    font-family: "Times New Roman", Times, serif;*/
/*    border-top: 4px groove; */
    border-bottom: 2px solid #e7e7e7;
}

#sylldata ul {
   list-style-type: none;
    border: 0em; 
    margin: 0em;
    padding: 0em;    
}



a { text-decoration: none; color: #000000; }
a:hover { text-decoration: underline; }




.links {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    gap: 1.6rem;
}

.links > section {    
box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}

p, h4, ul, ol { font-size: 1rem; }

ol {
    /* list-style-type: none; */
    border: .26em; 
    margin: 1.2rem .5em 1.6rem .5em;
    padding: 0em 0em 0em 0em;
    list-style-position: inside; /* forces numbers to not be in the margin */
}

ul {
    list-style-type: none;
    border: .26em; 
    margin: 0.26em 0em;
    padding: 0em 0em 0em 0em;
}

ol br {
    margin-bottom: .4em;
}

ol li { 
    color: #333; 
/*    border: .24rem .24rem 1rem .24rem;*/
    margin: .24rem .24rem 1rem .24rem;
}

.nested-list {
  list-style-type: none; /* Hollow circular bullets */
  margin: 0 1.2rem 0 1.2rem;
}

.nested-list ol {
    counter-reset: mycounter;
}

ol.nested-list>li {
    border: 0;
    margin: 0 0 .3rem 0;
    display: block;
    counter-increment: mycounter;
}

ol.nested-list>li:before {
    content: "(" counter(mycounter, lower-alpha) ") ";
   /* counter-increment: mycounter; */
}

ul li { 
    color: #333; 
    border: .24em;
    margin: .24em;
}

.res {
    margin: .7em;
}

li.res{
    margin: .64em 0em;
}

li.res:first-of-type {
    margin: 0 0 .64em 0;
}


hr {
    margin: .44em 0em 1.76em 0em;
}


.cent {
    width: 100%;
}

hr.thin {
    height: 1px; 
    border : 0;
    padding : 0;
    margin: 0;
    color: lightgray;
    background-color : lightgray; 
} 

.syll hr {
    margin: .88em;
}

.homework-exercises {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 11px 0 0 0;
    border-bottom: 1px solid black;
}

.homework ul {
    margin: 0 0 0 2em;
}

.homework h2 {
    margin: 3.1rem 0 2.8rem 0;
}

.homework section{
    margin: 0rem;
}

.homework p {
    margin: 0;
}

.homework section:first-of-type {
    padding-top: 0;
    border-top: 0;
}    


/* Remove header and footer from printouts */    
@media print{
    @page{
	size: Letter portrait;
	margin: .7in;
    }   

    .homework h2 {
	margin: 2.6rem 0 2.1rem 0;
    }
    
    p, li, body {
	font-size: 15px;
	line-height: 1.3rem;
    }

    header, footer { 
	display: none
    }
}


/* The rest of this file is for tables */
    
table {
  border-collapse: collapse;
  border: 2px solid rgb(140 140 140);
  font-size: 0.7rem;
  table-layout: auto;
  width: 100%;
}

caption {
  padding: 10px;
  font-weight: bold;
}

thead,
tfoot {
  background-color: rgb(228 240 245);
}

th,
td {
  border: 1px solid rgb(160 160 160);
  padding: 8px 10px;
}

td:last-of-type {
  text-align: center;
}

td:nth-child(4) {
  text-align: left;
}

tbody > tr:nth-of-type(even) {
  background-color: rgb(237 238 242);
}

tfoot th {
  text-align: right;
}

tfoot td {
  font-weight: bold;
}
    
