body { margin: 30px auto; width: 95%; }

a { text-decoration: none; color: #999; }
a:hover { text-decoration: underline; }

a:active { color: #04AA6D; }

a#highlight { color: #04AA6D; }

p, ul { color: #333; }

ul {
    border: .3em; 
    margin: .3em; 
}

ul li { 
    color: #333; 
    border: .3em;
    margin: .3em;
}

h1, h2 { 
    font-family: 'Helvetica', 'Arial', 'Sans-Serif'; 
    border: .3em;
    margin: .3em; 
}

h3, h4 {
    font-family: 'Helvetica', 'Arial', 'Sans-Serif'; 
    border: .3em;
    margin: .8em .3em .3em .3em; 
}


.sidenav {
  height: 100%;
/*  width: 160px; */
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #f1f1f1;
  overflow-x: hidden;
  padding: 20px 7px 7px 7px;
}

.sidenav a {
  padding: 2px 4px 2px 4px;
  text-decoration: none;
  font-size: .8em; 
  color: #818181;
  display: block;
}

/* Active/current link */
.sidenav a:active {
  background-color: #04AA6D;
  color: white;
}

/* Links on mouse-over */
.sidenav a:hover:not(.active) {
  background-color: #555;
  color: white;
}

.main {
  margin-left: 90px; /* Same as the width of the sidenav */
/*  font-size: 28px; */ /* Increased text to enable scrolling */
/*  padding: 0px 10px; */
}

/*
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
*/

/* nav ul, footer ul { font-size: 1em; font-family: 'Helvetica', 'Arial', 'Sans-Serif'; padding: 0px; list-style: none; font-weight: bold; } */

/* nav ul li, footer ul li { display: inline; margin-right: 20px; } */ 

/* footer ul li.right { float:right; } */

footer { 
    border-top: 1px solid #d5d5d5; 
    font-size: .8em; 
/*    margin: 60px auto; */
    width: 85%; 
}
 
/* @media print { */
    @page{
	magin-top: 2cm;
	magin-bottom: 2cm;
	magin-left: 2cm;
	magin-right: 2cm;
    }   
