
.sec-label {
    text-transform: uppercase;
    text-align: center;
    margin: 2rem 0 1rem 0;
}

body {
    /* Initialize or reset the theorem counter in the body or a main container */
    counter-reset: theorem definition sect;
}

.sec-label {
    counter-set: theorem 0 definition 0;
}

.sec-label:before {
    counter-increment: sect;
    content: counter(sect) ". ";
}


.theorem, .definition {
   display: block;
/*    font-style: italic; */
    margin: 1rem 0; /* Adds spacing around the theorem */
}

.theorem:before {
    counter-increment: theorem; /* Increments the counter for each .theorem element */
    content: "Theorem " counter(sect) "." counter(theorem) ". ";
    font-weight: bold;
    font-style: normal;
}

.theorem[title]:before {
    counter-increment: theorem;
    content: "Theorem " counter(sect) "." counter(theorem) " (" attr(title) "). ";
}

.definition:before {
    counter-increment: definition; /* Increments the counter for each .theorem element */
    content: "Definition " counter(sect) "." counter(definition) ". ";
    font-weight: bold;
    font-style: normal;
}

.definition[title]:before {
    counter-increment: definition;
    content: "Definition " counter(sect) "." counter(definition) " (" attr(title) "). ";
}

.stdg p {
    text-indent: 18px;
}

.stdg {
line-height: 1.5rem;
}

/*
.stdg li {
    border: 0;
    margin: 0 0 .3rem 3rem; 
}
*/

.stdg ol {
    border: 0;
    margin: 0 0 .5rem 0;
    display: block;
}

.stdg ol {
    counter-reset: mycounter;
}

.stdg ol>li {
    border: 0;
    margin: 0 0 .3rem 1rem;
    display: block;
    counter-increment: mycounter;
}

.stdg ol>li:before {
    content: "(" counter(mycounter, lower-roman) ") ";
    /* or lower-alpha */
}

.ilist ol {
  list-style: none;
}

.ilist ol>li:before {
  content: attr(seq) ". ";
}


/* style ol and h2 for stdg-index */

.stdg-index ol {
    border: 0;
    margin: .5em 0 3rem 0;
    display: block;
}

.stdg-index ol {
    counter-reset: mycounter;
}

.stdg-index ol>li {
    border: 0;
    margin: 0 0 .3rem 1rem;
    display: block;
    counter-increment: mycounter;
}

.stdg-index ol>li:before {
    content: counter(mycounter, decimal) ". ";
    /* or lower-alpha */
}

.stdg-index h2 { 
    font-size: 1rem;
    text-transform: uppercase;
    text-align: left;
    margin: 1.5rem 0 .5rem 0;
   /* margin: 0 0 0px 0; */
   /* font-family: "Source Sans 3", sans-serif;*/
   font-weight: 400;
    /* text-align: center; */
}

.section-anchor {
    scroll-margin-top: 90px; /* Adjust this value to the height of
				your fixed header */
}



