<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" type="text/css" href="/css/main.css">
  </head>

  <body>
    <header>
    <div class="navbar">
      <span class="try">Victor Kreiman</span>
      <a href="/">HOME</a>
      <a href="/links">LINKS</a>
      <a href="/research">RESEARCH</a>
      <div class="dropdown">
	<button class="dropbtn">TEACHING
	  <i class="fa fa-caret-down"></i>
	</button>
	<div class="dropdown-content">
	  <a href="/teaching/222/24spring">Math 222</a>
	  <a href="/teaching/350/24spring">Math 350</a>
	  <a href="/teaching/451/24spring">Math 451</a>
	</div>
      </div>
    </div>
    <hr class="thin">
    </header>
    
    <main>
      <article>
	{{ content }}
      </article>
    </main>

    <footer>        
      <p>
        Dept. of Mathematics and Physics<br>
        University of Wisconsin - Parkside<br>
        Kenosha, WI 53141
      </p>
      <p>
        Office: GRNQ 331<br>
        Phone: (262) 595-2231<br>
        Email: kreiman@uwp.edu<br>
      </p> 
    </footer>
    <!--
    <footer>
      <ul>
	<li><a href="mailto:kreiman@uwp.edu">email</a></li>
	<li><a href="https://vkreiman.github.io">Webpage</a></li>
	<li class="right">Website last updated {{ "now" | date: "%B
	%d, %Y at %r" }}</li>
      </ul>
    </footer>
    -->
  </body>
</html>
