<!DOCTYPE html>
<html>
  <head>
    <title>{{ page.title }}</title>
    
    <link rel="stylesheet" type="text/css" href="/css/main.css">
  
  </head>


  <body>
    <nav>
      <ul>
	<li><a href="/">Home</a></li>
	<li><a href="/research">Research</a></li>
	<li><a href="/links">Links</a></li>
	<li><a href="/teaching/114/23fall">Math 114</a></li>
	<li><a href="/teaching/350/24spring">Math 350</a></li>
      </ul>
    </nav>


      {{ content }}
      
  
    <footer>
      <ul>
	<li><a href="mailto:kreiman@uwp.edu">email</a></li>
	<li><a href="https://vkreiman.github.io">Webpage</a></li>
	<li class="right">Website last updated {{ "now" | date: "%B
	%d, %Y at %r" }}</li>
      </ul>
    </footer>
  </body>
  

  
</html>
