<!DOCTYPE html>
<html>
  <head>
    <title>{{ page.title }}</title>
    
    <link rel="stylesheet" type="text/css" href="/css/main.css">
  
  </head>


  <body>

    <div class="sidenav">
      <a href="/">Home</a>
      <a href="/links">Links</a>
      <a href="/teaching/222/24spring">Math 222</a>
      <a href="/teaching/350/24spring">Math 350</a>
      <a href="/teaching/451/24spring">Math 451</a>
    </div>

    <div class="main">
    
      {{ content }}

    </div>      

    /*
    <footer>
      <ul>
	<li><a href="mailto:kreiman@uwp.edu">email</a></li>
	<li><a href="https://vkreiman.github.io">Webpage</a></li>
	<li class="right">Website last updated {{ "now" | date: "%B
	%d, %Y at %r" }}</li>
      </ul>
    </footer>
    */
  </body>
  

  
</html>
