---
layout: course
---

<p>
  Instructor: Victor Kreiman<br />
 
  Office: GRNQ 331<br /> 

  Email Address: kreiman@uwp.edu<br />

  Phone Number: 262-595-2231<br />

  Webpage: vkreiman.github.io

</p>

<hr />
<br />

{{ content }}

<p>
  <b>Academic Accommodation</b><br /> It is the policy and practice of
  UW - Parkside to create inclusive work environments. If there are
  aspects of the instruction or design of this course that result in
  barriers to your inclusion, please notify me as soon as
  possible. You are also welcome to contact the Office of Disability
  Services, telephone 262-595-2372, or email Dr. Renee Sartin Kirby at
  kirby@uwp.edu. For more information, visit the DSS website
  at <a href="http://www.uwp.edu/departments/disability.services">http://www.uwp.edu/departments/disability.services</a>.
</p>

<p>
  <b>Electronic Devices</b><br /> The use of cell phones, smart
  phones, or other mobile communication devices is disruptive,
  and is therefore prohibited during class. Except in
  emergencies, those using such devices must leave the classroom
  for the remainder of the class period. The use of computers,
  including tablets and laptops, is prohibited in the classroom.
</p>

<p>
  <b>Missed work</b><br />
  Late homeworks will not be accepted.
</p>

<p>
  <b>Disclaimer</b><br /> The course syllabus is a general plan for
  the course; deviations announced in class may be necessary.
</p>
