---
layout: course
---

<p>
  Instructor: Victor Kreiman<br />
 
  Office: GRNQ 331<br /> 

  Office Hours: M, W 10:15 - 10:45 AM, Tu 2:15 - 3:15 PM<br />
  
  Email Address: kreiman@uwp.edu<br />

  Phone Number: 262-595-2231<br />

  Webpage: vkreiman.github.io

</p>

<hr />
<br />

{{ content }}

<p>
  <b>Academic Accommodation</b><br /> It is the policy and practice of
  UW - Parkside to create inclusive work environments. If there are
  aspects of the instruction or design of this course that result in
  barriers to your inclusion, please notify me as soon as
  possible. You are also welcome to contact Student Accessibility
  Services, telephone 262-595-2372, or email Dr. Renee Sartin Kirby at
  kirby@uwp.edu. For more information, visit the Student Accessibility
  Services website
  at <a href="https://www.uwp.edu/live/offices/disabilityservices/">
  https://www.uwp.edu/live/offices/disabilityservices</a>.
</p>

<p>
  <b>Safe Learning Environment</b><br /> UW-Parkside is committed to
  fostering a safe, productive learning and working environment for
  all students, faculty, and staff. Title IX of the Education
  Amendment Act of 1972 states that “no person in the United States
  shall, on the basis of sex, be excluded from participation in, be
  denied the benefits of, or be subjected to discrimination under any
  education program or activity receiving federal financial
  assistance”. Title IX covers forms of sexual misconduct, including
  sex and gender-based discrimination, sexual harassment, stalking,
  dating/relationship violence, and sexual assault. As these matters
  can have a significant impact on your life as a student, both in and
  out of the classroom, UW-Parkside provides a variety of resources
  and reporting options, which you can find by going to the following
  link: <a href="https://www.uwp.edu/explore/offices/titleix/">
  https://www.uwp.edu/explore/offices/titleix/</a>.
</p>

<p>
  <b>Electronic Devices</b><br /> The use of cell phones, smart
  phones, or other mobile communication devices is disruptive,
  and is therefore prohibited during class. Except in
  emergencies, those using such devices must leave the classroom
  for the remainder of the class period. The use of computers,
  including tablets and laptops, is prohibited in the classroom.
</p>

<p>
  <b>Recordings and Live-Streamings</b><br /> Please note that at the
  instructor’s discretion, lectures and class sessions may be live
  streamed and/or recorded and made available to students registered
  for the class. The use of live streaming and lecture capture is
  intended to supplement the classroom experience solely for the
  benefit of students registered in the class. UW-Parkside prohibits
  faculty, staff and students from copying, distributing, or using
  lecture capture recordings for any other purpose; violation of this
  prohibition may be grounds for UW-Parkside to initiate disciplinary
  proceedings.
</p>

<p>
  <b>Ranger Community Health and Safety Standards</b><br />
  UW-Parkside has implemented reasonable health and safety protocols
  based on recommendations by public health authorities in response to
  the COVID-19 pandemic. These protocols may change based on
  prevailing health conditions. As a member of our campus community,
  you are expected to abide by the health and safety rules developed
  in accordance with public health guidelines. These standards apply
  to anyone who is physically present on campus, UW-Parkside grounds,
  or participating in a UW-Parkside-sponsored activity:
</p>
<ul>
  <li>Do not come to class if you are feeling ill or experiencing
    COVID-19 symptoms.  It is your responsibility to notify your
    instructor of any absences including any required periods of
    quarantine/isolation.</li>

  <li>
    Masks or face coverings are required indoors in all public areas
    including classrooms and labs, regardless of vaccination
    status. Masks may be removed while actively
    eating/drinking. Students who refuse to wear a mask in classrooms
    or labs will be required to leave the class and will be referred
    to the Dean of Students.  </li>
  
  <li>Social distancing of 3-feet is recommended</li>
  
  <li>Residential students who have not uploaded their vaccination
    verification to MyChart are required to test weekly in the Ranger
    Hall Clinic.</li>

  <li>Commuter students who come to campus at least once a week and
    have not uploaded their vaccination verification to MyChart are
    required to test bi-weekly in the Ranger Hall Clinic.</li>
  
  <li>If you have already been vaccinated please upload your record
    of vaccination to MyChart as soon as possible.</li>
  
  <li>If you have not been vaccinated, here are several
  options:
    <ul>
      <li>Call the Student Health and Counseling Center at (262)
	595-2366 to schedule an appointment.</li>
      <li>Visit <a href="http://www.vaccines.gov">www.vaccines.org</a>
	to locate a vaccine clinic near you.</li>
      <li>Plan to visit one of our Pop-Up Vaccine Clinics on campus
	during the first week of school (Sep 7-10).</li>
    </ul>
  </li>
</ul>
<p>
  Based on our experience from last year, COVID-19 infections were
  spread in higher-risk social activities such as parties, group
  gatherings without masks and appropriate social distancing, and
  travel rather than in the classroom. The best way to ensure an
  in-person experience with face-to-face classes and campus activities
  is to get vaccinated, wear your mask, and maintain appropriate
  social distancing.
</p>
  
<p>
  <b>Disclaimer</b><br /> The course syllabus is a general plan for
  the course; deviations announced in class may be necessary.
</p>
